html {
    scroll-padding-top: 100px;
}

.navbar {
    text-align: center;

}

.navbar-brand {
    font-size: 40px;
}

.nav-link {
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

@media(max-width:768px) {

    .nav-link {

        font-size: 20px;

    }

    .navbar-brand {
        font-size: 30px;
    }
}

.scl-icon {
    width: 50px;
}

@media(max-width:474px) {
    .navbar-brand {
        font-size: 20px;
    }

    .nav-link {

        font-size: 15px;

    }

    .scl-icon {
        width: 30px;
    }
}

.nav-link-active {
    color: #261772;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #a5b1c2;
}

#main {
    background-attachment: fixed;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(rgba(71, 177, 204, 0.644), rgba(110, 92, 212, 0.644)), url('../img/scl.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.Welcome {
    font-size: 40px;
    position: relative;
    top: 30%;
    color: #000;
    font-weight: 800;
}

.text {
    font-size: 45px;
    background: -webkit-linear-gradient(-70deg, #f7f1e3 0%, #55E6C1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {

    font-size: 60px;
}

.num-cards {
    background-color: #261772 !important;
    opacity: 0.8;
}

.bg {
    background-color: rgba(117, 79, 254);

}

.com {
    color: rgba(156, 163, 175, );
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;

}

.swiper-button-next,
.swiper-button-prev {

    position: relative;
    bottom: -10% !important;


}

iframe {
    width: 100%;
    height: 500px;
    border-radius: 15px;


}

.main {

    background-color: rgb(46, 43, 43);
    color: #fff;
    border-radius: 15px;


    position: relative;
    top: -80px;
    margin-top: 0px;
    padding-top: 0px;

}

#contact {
    margin: 50px;
    border-radius: 30px;

}

@media(max-width:1200px) {

    .form-main {

        float: none;
        width: 80%;
    }

    .map {
        width: 100%;
        float: none;
    }
}

@media(max-width:768px) {

    .form-main {

        padding-left: 0px !important;
        width: 100%;
    }

    .contact-img {

        width: 100% !important;
    }

}